/* html {
    height: calc(100% - 10px);
    border: 5px solid red;
}

body {
    height: calc(100% - 10px);
    border: 5px solid blue;
}

.table {
    height: calc(100% - 10px);
    border: 5px solid green;
} */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    border: 5px solid red;
}

body {
    height: 100%;
    border: 5px solid blue;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.table {
    height: 100%;
    border: 5px solid green;
    background: white;
}

.table-settings {
    display: flex;
}

.left-side {
    flex: 1 0 0;
}

.middle {
    flex: 1 0 0;
}

.right-side {
    flex: 1 0 0;
}

.settings {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.fade-enter,
.fade-leave-to {
    flex-grow: 0.001;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 1s;
}

.collapse {
    flex-grow: 0.001;
}